<header id="header">
	<div class = "content">
		<div id="logo">
			Memini
		</div>
		<nav id="nav"></nav>
	</div>
</header>

<div id="slide1">
	<div class="content">
		<h2>No distractions, get more done, have more fun.</h2>
	</div>
</div>

<div id="slide2">
	<div class="content">
		<div class="blurb-container">
			<h3 class="blurb">No distractions, get more done, have more fun. No distractions, get more done, have more fun. No distractions, get more done, have more fun.</h3>
			<h4 class="name-dark">Jay</h4>
		</div>
	</div>
</div>

<div id="slide3">
	<div class="content">
		<div class="blurb-container">
			<h3 class="blurb">No distractions, get more done, have more fun.</h3>
			<h4 class="name">Jay</h4>
		</div>
	</div>
</div>

<div id="slidePricing">
	<div class="content">
		<div class="blurb-container">
			<h3 class="blurb">No distractions, get more done, have more fun.</h3>
			<h4 class="name-dark">Jay</h4>
		</div>

		<div class="panel-container">
			<div class="panel">
				<h4 class="price-type">Hot Spots (Daily)</h4>
				<p>Blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
				<span class="price">$50/day</span>
			</div>
		</div>
	</div>
</div>
