<div id="slide1">
	<div class="content">
		<div class="fullscreen-bg">
			<div class="filter"></div>
	    <video autoplay loop class="fillWidth">
	        <source src="assets/In-The-Clouds.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
	        <source src="assets/In-The-Clouds.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
	    </video>
		</div>
		<div class="white-circle"><%= image_tag("logo-green.png", :class => "slide-1-logo") %></div>
		<h1 class="logo-text">memini</h1>
	</div>
</div>

<div id="slide2">
	<div class="content valign-wrapper">
		<div class="blurb-container col s12">
			<h3 class="blurb">Love travelling but hate planning?</h3>
			<br />
			<p class="slide-text">Memini can help! Just tell us when you want to travel and where you want to go, and we'll do all the research for you. We're here to do all the time consuming legwork of finding must-do activities in any location, based on your personal preferences. Give us a try today!<p>
		</div>
	</div>
</div>

<div id="slide3">
	<div class="content valign-wrapper">
		<div class="blurb-container2 col s12 white-box">
			<h3 class="blurb2">Want to try us out?</h3>
			<a class="waves-effect waves-light btn">Check out a sample schedule!</a>
		</div>
	</div>
</div>

<div id="slidePricing">
	<div class="content valign-wrapper">
		<div class="blurb-container">
			<h3 class="blurb">Contact Us!</h3>
			<div class="panel-container">
				<div class="panel">
					<h4 class="price-type">We'd love to help with anything you might need.</h4>
					<p>Give us a shout and we will gladly answer your questions about Memini!</p>
				</div>
			</div>
		</div>
	</div>
</div>
