$primary-color: #2ecc71 !default;
$secondary-color: #26A65B;

.schedules_container {
  padding: 50px;
  padding-top: 100px;
}

.card {
  margin: 0;
}

.card-image {
  height: 400px;
  overflow: hidden;
}

.custom-photo {
  height: 100%;
  object-fit: cover;
}

.emphasis-logo {
  width: 50px;
  margin-right: 15px;
}

.comment-chunk {
  text-align: center;
  padding: 5%;
  margin-top: 50px;
  min-width: 300px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.hey-there {
  font-size: 20px;
  color: $primary-color;
}

.schedules-title {
  font-family: "Comfortaa";
}
