
.schedule-background {
  height: 100%;
  // background: url("purple.jpeg") 50% 0 no-repeat fixed;
  background-color: white; //#F2F1EF
  background-size: cover;
  color: #fff;
  height: 170vh;
  margin: 0;
}

.calendar-container {
  padding: 50px;
  margin-bottom: 20px;
}

#calendar {
  margin-top: 60px;
}

.fc-center {
  h2 {
    margin: 0;
    padding-top: 15px;
    color: #2c3e50;
    font-size: 30px;
  }
}

.fc-time {
  color: #D2D7D3;
}

.fc-day-header {
  background-color: #D2D7D3;
  border-style: none !important;
  pointer-events: none;
}

.fc-state-highlight {
  opacity: 1.0;
  z-index: -1;
}

.fc-highlight {
  opacity: 0.5;
  z-index: -1;
}

.fc-day-number {
  color: #2c3e50;
}

.add-event-cal {
  z-index: 900;
}

#modal1 {
  // overflow: visible;
}

.form-container {
  padding: 150px 100px 100px 100px;
}
