
.sign-in-background {
  background: url("redgradient.jpeg") 50% 0 no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.sign-in-container {
  padding-top: 210px;
  padding-bottom: 110px;
}
